
body {
  padding: 25px;
  background-color: #181a21;
  color: #f8fafc;
  font-size: 25 px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #121317;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #262a31 when element is hovered over */
  li a:hover {
    background-color: #262a31;
  }
